<header>
    <div class="logo">
        MIRRORLY
    </div>

    <nav>
<<<<<<< HEAD
        <a href="/Index" class="@(ViewContext.RouteData.Values["page"]?.ToString() == "/Index" ? "active" : "")">TRANG CHỦ</a>
        @if (isLoggedIn) {
            <a href="/Mua/MuaProfiles" class="@(ViewContext.RouteData.Values["page"]?.ToString()?.Contains("Mua") == true ? "active" : "")">MAKEUP ARTIST</a>
        } 
        else
        {
            <a href="/Auth/Login" class="@(ViewContext.RouteData.Values["page"]?.ToString()?.Contains("Mua") == true ? "active" : "")">MAKEUP ARTIST</a>

        }
        <a href="#" class="@(ViewContext.RouteData.Values["page"]?.ToString() == "/Gallery" ? "active" : "")">GALLERY</a>
=======
        <a asp-page="/Index" class="@(ViewData["ActivePage"] as string == "Artist" ? "active" : "")">ARTIST</a>
        <a asp-page="/Mua/MuaProfiles" class="@(ViewData["ActivePage"] as string == "Mua" ? "active" : "")">BOOKING</a>
        <a asp-page="/Gallery" class="@(ViewData["ActivePage"] as string == "Gallery" ? "active" : "")">GALLERY</a>
        <a asp-page="/ArFilter" class="@(ViewData["ActivePage"] as string == "ArFilter" ? "active" : "")">AR FILTER</a>
>>>>>>> parent of d138704 (Merge branch 'master' into dev/Vu)
    </nav>

    <div class="right">
        <div class="search-box">
            <input type="text" placeholder="Search for an Item..." />
        </div>
        <div class="avatar"></div>
    </div>
</header>